[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
test_project = "54Lq7n74BEFz9KcnjaePRV3kFF1VebGHoPEpQPj2Kbch"


[programs.devnet]
test_project = "27pnqQrAbmua19nkfGxcv8LLKmFwt9PZPfNTGmAJTinV"
[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
